{% extends 'base.html' %}

{% block title %}Telezuela = Home{% endblock %}

{% block content %}

<div class="container">
    <h3>Our Products</h3>
    <div class="container">
        <ul class="list-unstyled d-flex my-3 mx-3">
            {% for producto in productos %}
            <li>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ producto.titulo }}</h5>
                      <p class="card-text">{{ producto.descripcion }}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Precio: ${{ producto.precio }}</li>
                        <a href="#" class="card-link text-center my-2">Comprar producto</a>
                      </ul>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}